/* #about-us .banner{
  
} */
/* #mission-vision {

} */

/* value */
#value .card li {
    padding-bottom: 17px;
  }
  #value p {
    margin-bottom: 2px !important;
  }
  
  #value .service_card {
    position: relative;
    background-color: #ccc;
    /* background: white; */
    -webkit-backface-visibility: hidden;
    z-index: 1;
    border-radius: var(--bs-border-radius-xxl) !important;
    border: none;
    background: linear-gradient(
      180deg,
      rgb(73, 194, 238) 0%,
      rgb(108, 92, 168) 100%
    );
  }
  #value .service_card:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--bs-border-radius-xxl) !important;
    background: white;
    color: black;
    transition: opacity 0.4s ease-out;
    z-index: 2;
    opacity: 0;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  }
  #value .service_card:hover:after {
    opacity: 1;
  }
  
  #value .service_card span {
    position: relative;
    z-index: 3;
    color: white;
  }
  
  #value .service_card:hover i {
    background: linear-gradient(
      225.73deg,
      rgba(68, 200, 245, 1) 0%,
      rgba(138, 115, 173, 1) 100%
    ); /* Define your gradient colors */
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text; /* Standard property */
    color: transparent; /* Make the text transparent so the gradient shows through */
  }
  #value .service_card:hover p {
    color: #000;
  }
  #value .service_card:hover li {
    color: #000;
  }
  #value .service_card:hover table tr td,
  table tr th {
    color: #000;
  }
  #value .service_card:hover span {
    color: rgba(138, 115, 173, 1);
  }
  #value .service_card:hover h2 {
    color: rgba(68, 200, 245, 1);
  }
  /* value */

  /* chairman */
  #chairman{
    padding-bottom: 150px;
  }
  #chairman .shape1{
    z-index: -1;
    left: 0;
    position: absolute;
    width: 187.157px;
    height: 429.074px;
    transform: rotate(-120deg);
    flex-shrink: 0;
    background: linear-gradient(252deg, #49C2EE 0%, #6C5CA8 100%);
    mix-blend-mode: multiply;
  }
  #chairman .profile{
    border-radius: 25px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    overflow: hidden;
  }
   /* chairman */

     /* md */
  #md{
    padding-bottom: 150px;
  }
  #md .shape1{
    z-index: -1;
    left: 0;
    position: absolute;
    width: 187.157px;
    height: 429.074px;
    transform: rotate(-120deg);
    flex-shrink: 0;
    background: linear-gradient(252deg, #49C2EE 0%, #6C5CA8 100%);
    mix-blend-mode: multiply;
  }
  #md .profile{
    border-radius: 25px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    overflow: hidden;
  }
   /* md */
  /* management */
  #management{
    padding-bottom: 150px;
  }
  #management .shape1{
    z-index: -1;
    left: 0;
    position: absolute;
    width: 187.157px;
    height: 429.074px;
    transform: rotate(-120deg);
    flex-shrink: 0;
    background: linear-gradient(252deg, #49C2EE 0%, #6C5CA8 100%);
    mix-blend-mode: multiply;
  }
  #management .profile{
    border-radius: 25px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    overflow: hidden;
  }
   /* management */
  /* winning-cancer */
  #winning-cancer{
    padding-bottom: 150px;
  }
  #winning-cancer .shape1{
    z-index: -1;
    left: 0;
    position: absolute;
    width: 187.157px;
    height: 429.074px;
    transform: rotate(-120deg);
    flex-shrink: 0;
    background: linear-gradient(252deg, #49C2EE 0%, #6C5CA8 100%);
    mix-blend-mode: multiply;
  }
  #winning-cancer .profile{
    border-radius: 25px;
    background: url(<path-to-image>), rgb(255, 255, 255) 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.25);
    flex-shrink: 0;
    overflow: hidden;
  }
  
  #winning-cancer .title1{
    color: #49C2EE;
    font-weight: 300!important;
  }
  #winning-cancer .right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* winning-cancer */
  

  /* department */
  .department-banner{
    position: relative;
    height: 1080px;
    background: linear-gradient(190deg, #8055A0 0%, #7A68AA 44.05%, #5BC1DA 98.86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .department-banner .title1{
    font-weight: 300!important ; color: white;
  }
  .department-banner .title2{
    color: white;
  }
  /* department */
  /* faq */
  #faq{
    padding-bottom: 92px;
  }
  #faq button{
    color: var(--Violet, #8A73AD);
    background:#F1F1F1;
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
    letter-spacing: 0.5px;
  }
  #faq .accordion-body{
    background:#F1F1F1;
  }
    /* faq */