.gallery-section{position:relative;padding:50px 0;}
.gallery-section .block-title {margin-top: 40px;}
.grid-gallery-4col{position:relative;overflow:hidden;}
.grid-gallery-4col .gallery-item{position:relative;overflow:hidden;margin:15px 0;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;}
.grid-gallery-4col .gallery-item img{display:block;width:100%;height:auto;overflow:hidden;transition: all 0.3s ease-in-out;}
.grid-gallery-4col .gallery-overlay{position:absolute;top:0;left:0;right:0;bottom:0;opacity:0;background-color: rgba(0,0,0,.2);text-align:center;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;}
.grid-gallery-4col .gallery-item:hover .gallery-overlay{opacity:1;}
.grid-gallery-4col .gallery-item:hover img{transform:scale(1.1);filter:blur(5px);}
.grid-gallery-4col .gallery-content{display:table;width:100%;height:100%;text-align:center;}
.grid-gallery-4col .gallery-content-inner{display:table-cell;vertical-align:middle;text-align:center;padding:15px;}
.grid-gallery-4col .gallery-content i{display:inline-block;border-radius:50%;background-color:rgba(255,255,255,.1);font-size:25px;color:#fff;margin:5px;padding:20px 20px 20px 20px;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.grid-gallery-4col .gallery-content i:hover{background-color: rgba(255,255,255,.2);}
.gallery-item img{width:100%;}
@media screen and (max-width:1200px){
.grid-gallery-4col{margin:-7.5px!important;}
}
.grid-gallery-4col{margin:0 -15px;}
.grid-gallery-4col .gallery-item{width:calc(25% - 30px);float:left;margin:15px;}
@media screen and (max-width:991.98px){
.grid-gallery-4col .gallery-item{width:calc(33% - 15px);float:left;margin:7.5px;}
}
@media screen and (max-width:767.98px){
.grid-gallery-4col .gallery-item{width:calc(100% / 2 - 15px);float:left;margin:7.5px;}
}
@media screen and (max-width:575.98px){
.grid-gallery-4col{margin:0 0px!important;}
.grid-gallery-4col .gallery-item{float:none!important;width:100%!important;margin:15px 0px!important;}
}